@model List<Incoding.MvcContrib.KeyValueVm>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Value</td>
        <td>@item.Text</td>
        <td>
            @Ajax.ActionLink("Delete", "DeleteAsp", new { id = item.Value }, new AjaxOptions
                                                                                 {
                                                                                         UpdateTargetId = "controlsHolder", 
                                                                                         InsertionMode = InsertionMode.Replace, 
                                                                                         HttpMethod = "POST"
                                                                                 })
        </td>
    </tr>
}