<html>
    <body>
        <ul>
            <li>
                <a href="@Url.Action("Index_Asp")">Ajax asp.net mvc</a>        
            </li>
            <li>
                <a href="@Url.Action("Index_Iml")">IML</a>                
            </li>
            <li>
                <a href="@Url.Action("Index_Extend_Iml")">Extend IML</a>                
            </li>
        </ul>
    </body>
</html>